.checked {
    background-color: crimson;
}

/* Only works with 5x5 table. Need a manual fix in a changed num of table's rows case */

td {
    width: 10%;
    position: relative;
}

@media(max-width: 600px) {
    .table td {
        padding: 5px;
    }
    p {
        line-height: 1;
        font-size: 12px;
    }
}